/* Source: http://www.csscheckbox.com/ Style the checkbox using an absolutely positioned label */

input.taskCompletionCheckbox:checked + .taskCompletionCheckbox {
	background-position: 0 -20px;
}

input.taskCompletionCheckbox + .taskCompletionCheckbox {
	padding-left: 22px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
	background-image: url(/images/checkbox.png);
}

input.taskCompletionCheckbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.taskCompletionCheckbox:checked ~ button:first-of-type {
	text-decoration: line-through;
}
