.mobileNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 2;
}

.mobileNav > * {
    padding: 1em;
}

@media screen and (min-width: 800px) {
    .mobileNav {
        display: none;
    }
}