.container {
	display: grid;
    grid-row: 1 / 3;
	grid-column: 1 / 6;
	grid-template-rows: subgrid;
	grid-template-columns: subgrid;
	justify-self: stretch;
	align-self: flex-start;
	padding-left: 15px;
	padding-right: 15px;
	border: none; /* For mobile phones */
}

.container * {
	border: none;
	background: none;
}

.container button {
	grid-row: 1;
	grid-column: 3;
	justify-self: flex-start;
	cursor: pointer;
}

.container img {
	padding: 5px;
	width: 30px;
	vertical-align: middle;
}

.greyCircle:hover {
	background-color: lightgrey;
	border-radius: 80%;
}

.searchBar {
	background-color: white;
	position: relative;
	grid-row: 2;
	grid-column: 1 / -1;
	display: none;
	height: 40px;
	width: 90%;
	outline: none;
}

.searchBar.active {
	display: inline-block;
	border: 1px solid lightgrey;
	border-radius: 25px;
	padding: 0 1em;
}

@media only screen and (min-width: 700px) {
	.container {
		grid-row: 1;
		grid-column: 2 / 4;
		border: 1px solid lightgrey;
		align-self: center;
		border-radius: 25px;
		display: block;
	}

	.searchBar.active {
		border: none;
		padding: 0;
	}
	
	.searchBar {
		display: inline-block;
		padding: 0;
	}
}
