.accountBanner {
	grid-row: 1 / 4;
	grid-column: 4 / 9;
	align-self: flex-start;
	justify-self: flex-end;
	width: clamp(150px, 20vw, 200px);
	margin-left: 10px;
	position: relative;
	z-index: 10;
}

.accountProfile {
	padding: 0.5em;
}

.accountProfile > span {
	margin-left: 10px;
}

ul.accountMenu {
	position: relative;
	background-color: white;
	z-index: 10;
	padding: 0.5em 0.5em 0 0.5em;
	margin: 0;
	padding-inline: 0;
	border: 1px solid indianred;
}

.accountMenu li {
	background-color: white;
	list-style-type: none;
}

.accountMenu li * {
	padding: 1em 10px;
}

.accountMenu li:hover {
	background-color: lightgrey;
}

.accountMenu > li > *,
.accountProfile {
	display: inline-block;
	width: 100%;
	border: none;
	background: none;
	font-size: 1rem;
	font-family: "Segoe UI";
	text-align: center;
}

.dropdownArrow {
	margin-left: 5px;
}

.inactive {
	display: none;
}

@media only screen and (max-width: 760px) {
	.fullName {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.accountBanner {
		grid-column: 4 / 6;
		justify-self: flex-end;
		width: clamp(10%, 300px, 80%);
		margin-right: -7px;
	}

	.accountProfile {
		text-align: right;
	}
}