.jottingList {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: 2px double indianred;
    padding: 0;
    height: 350px;
    overflow-y: auto;
}

ul.jottingList > li {
    width: 100%;
}

ul.jottingList > li:hover {
    background-color: lightgray;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .jottingList {
        flex-wrap: wrap;
        flex-direction: row;
    }

    ul.jottingList > li {
        flex: 1 1 200px;
    }
}